{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <section style="padding-bottom: 280px; padding-top: 30px">
    <link rel="stylesheet" href="{% static 'assets/css/post_.css' %}"/>
        <header>
          <div class="container">
              <div class="d-flex justify-content-start mb-5">
                <h1>Change Password</h1>
              </div>
          </div>
        </header>

        <!-- Change Password Form -->
        <form action="{% url 'change password' %}" method="post">
            <fieldset>
                {% csrf_token %}
                {% for field in form %}
                    <label>
                        <div>
                            {{ field.label_tag }} <br>
                            {{ field }}
                        </div>
                    </label>
                        {% endfor %}
                <input type="submit" value="Change password">
            </fieldset>
        </form>

    </section>

{% endblock %}