{% extends 'base.html' %}
{% block page_content %}
<div id="hero" class="hero overlay">
        <div class="hero-content">
            <div class="hero-text">
                <h1>You are logged out of your account.</h1>
                <a href="{% url 'login user' %}" class="btn btn-border">Login again</a>
                <a href="{% url 'index' %}" class="btn btn-border">Home</a>
            </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero -->

{% endblock %}
