{% extends 'base.html' %}
{% load static %}
{% block page_content %}

<link rel="stylesheet" href="{% static 'assets/css/post_.css' %}"/>
<header>
  <div class="container">
      <div class="d-flex justify-content-start mb-5">
        <h1>Profile</h1>
      </div>
  </div>
</header>


     <link href="{% static 'assets/css/profile_card.css' %}" rel="stylesheet">
     <link href="{% static 'assets/js/profile_card.js' %}" rel="stylesheet">
     <figure class="snip1336 hover"><img src="{% static 'assets/img/hero.jpg' %}" alt="sample74" />
         <figcaption>
              <img src="{{ profile.picture }}" alt="profile-picture" class="profile" />
              <h2>{{ profile.full_name }}<span><br/>Age: {{ profile.age }} year's old</span></h2>
              <h4>Bio:<br/></h4><p>{{ profile.description}}</p>
             <hr>
             {% if post_count %}
                 <h4>Posts: {{ post_count }}</h4>
             {% else %}
                <h4>Posts: 0</h4>
             {% endif %}
             <a href="{% url 'edit profile' profile.pk %}" class="Edit">Edit</a>
              <a href="{% url 'delete profile' profile.pk %}" class="Delete">Delete</a>
              <a href="{% url 'change password' %}" class="change-password">Change password</a>
              <a href="{% url 'logout user'%}" class="info">Logout</a>

         </figcaption>
     </figure>


{% endblock %}