{% extends 'base.html' %}
{% load static %}
{% block page_content %}


<link rel="stylesheet" href="{% static 'assets/css/post_.css' %}"/>
<header>
  <div class="container">
      <div class="d-flex justify-content-start mb-5">
        <h1>Plans</h1>
      </div>
  </div>
</header>


<main class="container">
                  <section class="card-row">
                      {% for p in plan %}
                          {% if p.user.id == request.user.id %}
{#                                <h2>Plans</h2>#}
                                <article class="card">
                                     <a href="{% url 'plan details' p.pk %}" target="_blank">

                                         <img src="{{ p.flag_of_place }}" alt="Picture of the Flag" width="200" height="150">
                                     </a>
                                </article>


                          {% endif %}

                      {% endfor %}
        </section>

</main>
{% endblock %}
